* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

main {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

h1,
h2 {
  margin-bottom: 10px;
}

section {
  padding: 15px;
  margin: 30px 0;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: lightcyan;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

ul {
  padding-left: 20px;
}
